.thank-you-card {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #887e7e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.total-card {
    margin-top: 5%;
}

.total-card>img {
    margin-top: 10px;
    height: 70px;
    width: 90px;
}